<li id="ad-<%= ad.id %>" class="user-ad">
  <div style="display: flex;  position: relative;">

    <div style="margin-right: 10px;"><% if ad.pictures.any?%>
        <%= image_tag ad.pictures.first.mini_pic.url %>
      <% else %>
        <%= image_tag("no_photo.png", alt: "no photo", size: "200x200") %>
      <%end %>
    </div>
    <div style="display: flex; flex-direction: column;">
      <% if current_user?(ad.user) %>
      <div style="position: absolute; top: 0px; right: 0px;">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Actions <b class="caret"></b>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a>Edit</a></li>
            <li><a><%= button_to "Delete", ad, method: :delete, remote: true,
                            data: { confirm: "You sure?" }, class: "link-button" %></a></li>
              <% if ad.status=='draft' %>
              <li><a>
                  <%= button_to "Send to moderation", ad_update_status_path(ad.id), remote: true,
                                method: :patch, params: {ad: { status: :moderating}}, class: "link-button" %>
              </a></li>
              <% else %>
                <li><a>Ad is <span class="<%= ad.status %>"><%= ad.status %></span></a></li>
              <% end %>
          </ul>
        </div>
      </div>
      <% end %>
      <h3 class="content"><%= ad.name %></h3>
      <span class="content"><%= ad.content %></span>
      <span class="timestamp">
    Posted <%= time_ago_in_words(ad.created_at) %> ago.
  </span>
      <%= link_to "More...", ad_path(ad.id) %>
    </div>

  </div>
     <% if current_user.admin?  %>
      <div id="status" class="<%=ad.status%>">
        <% if ad.status == "denied"%>
          <%= ad.status.capitalize + ": " + ad.reason %>
          <% else %>
          <%= ad.status.capitalize%>
        <% end %>
      </div>
    <% end %>
</li>
