<li id="ad-<%= ad.id %>">
  <%= link_to gravatar_for(ad.user), ad.user %>
  <span class="user"><%= link_to ad.user.name, ad.user %></span>
  <span class="content"><%= ad.name %></span>
  <span class="content"><%= ad.content %></span>
  <span>
  <% ad.pictures.each do |pic| %>
    <%= image_tag pic.thumb.url %>
  <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(ad.created_at) %> ago.
    <% if current_user?(ad.user) %>
      <%= link_to "delete", ad, method: :delete,
                  data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>