<% provide(:title, @ad.name) %>
<div style="display: flex; position: relative;">

  <div style="margin-right: 1vw;"><% if @ad.pictures.any?%>
      <%= image_tag @ad.pictures.first.url, style: "height: auto; width: 350px;" %>
    <% else %>
      <%= image_tag("no_photo.png", alt: "no photo", size: "350x350") %>
    <%end %>
  </div>

  <div>
    <div style="margin-top: 10px; font-size: 38px;"><%= @ad.name %></div>
    <div style="font-size: 18px;"> Description</div>
    <div class="content"><%= @ad.content %></div>
    <div class="tags">
      <% @ad.tags.each do |tag| %>
        <a><%= tag.name %></a>
      <% end %>
    </div>
    <span class="timestamp">
    Posted <%= time_ago_in_words(@ad.created_at) %> ago
    by <span class="user"><%= link_to @ad.user.name, @ad.user %></span>
    </span>
    <span><% if current_user.admin? %>
<div class="card">
  <div class="card-header" id="headingTwo">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseLogs" aria-expanded="false" aria-controls="collapseTwo">
        Logs...
      </button>
    </h5>
  </div>
  <div id="collapseLogs" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    <div class="card-body">
       <ul class="vertical-menu" style="width: 100%">
         <% @ad.ad_logs.each do |log| %>
           <li><a>Changed
             from:
             <span class="<%=log.from %>"><%=log.from %></span>
             to:
             <span class="<%=log.to%>"><%=log.to %></span>
             at
             <%=log.created_at %>.
             <% if !log.reason.nil? %>
              <br/>Reason: <span class="denied"><%= log.reason%></span>
             <% end %>
           </a>
           </li>
         <% end %>
       </ul>
    </div>
  </div>
</div>
<% end %></span>
  </div>


</div>

