<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-3">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name%>
        <% if @user.admin? %>
          <%= "(admin)"%>
        <% end %>
      </h1>
    </section>
    <% if current_user?(@user) %>
    <section class="ad_form">
      <% if @user.ads.count > 0 %>
        <%= button_to "Delete all ads", user_delete_all_ads_path(@user.id), method: :delete, class: "btn btn-danger", style: "width: 170px;", data: {confirm: "Are you sure?"}%>
      <% end %>
      <%= button_to "Create ad", new_ad_path, method: :get, class: "btn btn-primary", style: "margin-top: 10px;width: 170px;"%>
      <% if @user.admin? %>
        <%= button_to "Tags", tags_path, method: :get, class: "btn btn-info", style: "margin-top: 10px;width: 170px;"%>
      <% end %>
    </section>
      <% end %>
  </aside>
  <div class="col-md-8">
      <h3>Ads (<%= @user.ads.count %>)</h3>
      <ol class="ads">
        <% @ads.each do |ad| %>
          <%= render partial: "ads/ad_profile", locals: {ad: ad} %>
        <% end %>
        <%= will_paginate @ads %>
      </ol>
  </div>
</div>